
	
@font-face
	font-family: 'VCR OSD'
	src: url('../fonts/VCR_OSD_MONO_1.001.ttf')
	font-weight: 400 normal

	
@font-face
	font-family: 'VCR OSD'
	src: url('../fonts/VCR_OSD_MONO_1.001.ttf') format('woff2-variations')
	font-weight: 500 600 700 800 900 bold
	
@font-face
	font-family: 'Broken Knight'
	src: url('../fonts/Broken Knight DEMO.ttf') format('woff2-variations')
	
@font-face
	font-family: 'Mather Laord'
	src: url('../fonts/MatherlaordtrialRegular.otf') format('woff2-variations')
	
@font-face
	font-family: 'RTCO Flinton'
	src: url('../fonts/RTCO Flinton Four.otf') format('woff2-variations')

	
@font-face
	font-family: 'Handjet'
	src: url('../fonts/Handjet[EGRD,ESHP,wght].woff2') format('woff2-variations')
	font-weight: 100 900
	font-stretch: 50% 150%
	
	font-style: oblique 0deg 20deg
	
@font-face
	font-family: 'GT Flexa'
	src: url('../fonts/GT Flexa VAR Trial.woff2') format('woff2-variations')
	
@font-face
	font-family: 'anicons'
	src: url('../fonts/AniconsColorGX.ttf') format('woff2-variations')